# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
mutants/


# misc
htmlcov/
coverage
.coverage
coverage.xml
.ruff_cache
.DS_Store
.venv
.claude
.mutmut-cache


# Home Assistant configuration
config/*
!config/configuration.yaml
!config/scenario_device_config.yaml