name: "Lint & Test"

on:
  push:

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6.0.2"
        - name: "Set up Python"
          uses: "actions/setup-python@v6.2.0"
          with:
            python-version: "3.12"
            cache: "pip"
        - name: "Install dependencies"
          run: pip install -r requirements.txt
        - name: "Lint"
          run: python3 -m ruff check .
        - name: "Format"
          run: python3 -m ruff format . --check
  test:
    name: "Test"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6.0.2"
      - name: "Set up Python"
        uses: "actions/setup-python@v6.2.0"
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install dependencies
        run: pip install -r requirements.test.txt -r requirements.txt
      - name: Run pytest
        run: pytest --cov-branch --cov-report=xml && mutmut run
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
